# Gradle
.gradle/
build/
**/build/

# Local configuration file (sdk path, etc)
local.properties

# Android Studio / IntelliJ
.idea/
*.iml
*.ipr
*.iws
/out/

# Android Studio generated
captures/
.externalNativeBuild/
.cxx/
.kotlin/
*.log

# Packaging outputs (不建议提交到源码仓库)
*.apk
*.aab
output-metadata.json

# Mac/Windows
.DS_Store
Thumbs.db

# Keystore files (别上传签名文件)
*.jks
*.keystore

# Google Services (如果你没用 Firebase 可留着也无所谓)
google-services.json

# Profiling
*.hprof
